* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: "Oswald", sans-serif;
}

.wrapper {
  display: flex;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  background-color: #111211;
  flex-direction: column;
  gap: 3vh;
  width: 10vh;
  height: auto;
  font-size: small;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
}

.navbar a {
  color: white;
  width: 100%;
  text-align: center;
  padding: 1vh 0vh;
}

.navbar a:hover {
  background-color: white;
  color: black;
}

.body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5vh 15vh;
  margin-left: 10vh;
  gap: 13vh;
}

h1{
  border-bottom: 1px solid black;
  padding: 2vh 5vh;
}

/* BIO */

#bio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  font-size: medium;
  width: 100%;
}

.bio-konten {
  display: flex;
  justify-content: center;
  gap: 10vh;
  font-family: "Open Sans", sans-serif;
  width: 100%;
}

.konten-deskripsi {
  display: flex;
  flex-direction: column;
}

.deskripsi-ul {
  display: flex;
  width: auto;
  gap: 20vh;
  padding: 2vh 0vh 0vh 2vh;
}

.deskripsi-ul ul {
  list-style: none;
}

.deskripsi-ul li {
  padding: 1vh 0;
}

/* SKILL */

#skill {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  font-size: medium;
  width: 100%;
}

.skill-konten {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1vh;
  padding: 0vh 0vh 2vh 0vh;
}

.skill-deskripsi {
  display: flex;
  justify-content: space-between;
}

.bar-chart {
  width: 100%;
  height: 2vh;
  background-color: #f0f0f0;
  overflow: hidden;
}

.bar {
  width: var(--percentage);
  height: 100%;
  background-color: #007bff;
}

/* resume */

#resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  gap: 10vh;
  font-size: medium;
}

.resume-title {
  text-align: center;
}

.resume-konten {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 20vh;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.education a {
  color: #007bff;
}

.professional {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.professional ul {
  padding: 0 2vh;
  text-align: left;
}

.professional a{
  color: #007bff;
}

.education > span {
  width: auto;
  background-color: rgba(128, 128, 128, 0.12);
  padding: 0.5vh 0.5vh;
}

.professional > span {
  width: auto;
  background-color: rgba(128, 128, 128, 0.12);
  padding: 0.5vh 0.5vh;
}

/* project */

#project{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 5vh;
  font-size: medium;
}

.filter-buttons {
  display: flex;
  gap: 5vh;
}

.filter-buttons button{
  padding: 1vh 3vh;
  cursor: pointer;
  color: black;
}

.filter-buttons a{
  color: black;
}

.gallery {
  width: 100%;
}

.gallery-item {
  width: 80%;
  height: 60vh;
  margin: 5% 18%;
}

.gallery-item img {
  width: 80%;
  height: 60vh;
  opacity: 1;
  transition: .5s ease;
  backface-visibility: hidden;
}

.gallery-item-keterangan{
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.gallery-item-keterangan a{
  color: blue;
}

.gallery-item:hover img {
  opacity: 0.3;
}

.mobile.active img{
  opacity: 0.3;
}

.gallery-item:hover .gallery-item-keterangan {
  opacity: 1;
}


@media only screen and (max-width: 1200px) {

  .navbar{
    font-size: small;
  }

  .body{
    padding: 5vh 0vh;
    font-size: small;
  }

  .bio-konten {
    flex-direction: column;
    align-items: center;
    font-size: auto;
    padding: 0vh 5vh;
    gap: 5vh;
    width: auto;
  }

  .deskripsi-ul {
    flex-direction: column;
    gap: 0vh;
  }

  .skill-konten {
    font-size: auto;
    width: 80%;
    font-size: small;
  }

  .resume-konten {
    flex-direction: column;
    gap: 10vh;
    font-size: small;
  }

  .education {
    padding: 0 5vh;
  }
  .professional {
    padding: 0 5vh;
  }
  .education > span {
    width: auto;
  }
  .professional > span {
    width: auto;
  }

  .filter-buttons{
    gap: 2vh;
  }

  .gallery-item {
    height: 50vh;
  }
  
  .gallery-item img {
    height: 50vh;
  }
}

@media only screen and (max-width: 900px) {
  .gallery-item {
    height: 40vh;
  }
  
  .gallery-item img {
    height: 40vh;
  }
}

@media only screen and (max-width: 700px) {
  .gallery-item {
    height: 30vh;
  }
  
  .gallery-item img {
    height: 30vh;
  }
}

@media only screen and (max-width: 580px) {
  .navbar{
    font-size:x-small;
  }
  #bio {
    font-size: small;
  }
  .gallery-item {
    height: 20vh;
  }
  
  .gallery-item img {
    height: 20vh;
  }

  .gallery-item-keterangan p, a{
    font-size:smaller;
  }
}
